@page
@model POWApp.Areas.Identity.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar correo";
}

<h1>@ViewData["Title"]</h1>
<p>Tu cuenta ha sido confirmada exitosamente. ¡Gracias!</p>
