@page
@model POWApp.Areas.Identity.Pages.Account.RegisterConfirmationModel

<h2>¡Registro completado!</h2>
<p>Gracias por registrarte. Se ha enviado un correo de confirmación a tu dirección de correo electrónico.</p>
