@page
@model POWApp.Pages.Cursos.DeleteModel

@{
    ViewData["Title"] = "Eliminar Curso";
}

<h1>@ViewData["Title"]</h1>

<h4>¿Estás seguro de que deseas eliminar el curso?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Curso.Id" />
            <div class="form-group">
                <label asp-for="Curso.Nombre" class="control-label"></label>
                <input asp-for="Curso.Nombre" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Curso.Descripcion" class="control-label"></label>
                <input asp-for="Curso.Descripcion" class="form-control" readonly />
            </div>
            <div class="form-group">
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                <a class="btn btn-secondary" asp-page="./Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>
